<div class="w-5/6 ml-[16.66%] min-h-full bg-gray-100">
    <!-- Sección "Formacion" -->
    <section id="formacion" class="w-full py-5 bg-slate-100">
      <div class="p-5 w-full h-full">
        <h1 class="text-3xl md:text-4xl font-bold mb-10 text-left text-slate-600">Formación</h1>
        <!-- Contenedor de cuadrícula -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 border-2 border-aquamarine-600 bg-white rounded-lg p-6">
            
            <!-- Bloque 1 -->
                <div class="p-4 border border-gray-200 rounded-lg shadow">
                    <h3 class="text-xl font-bold text-gray-800">Técnico Superior en Desarrollo de Aplicaciones Web</h3>
                    <span class="p-1 px-2 w-24 bg-emerald-200 text-sm font-normal rounded text-emerald-700">Actualmente en curso</span>
                    <p class="text-gray-600 mt-1">
                        <span class="font-medium">Escuela Profesional Vedruna Sevilla</span><br>
                        Oct 2023 - Actualidad
                    </p>
                </div>
            
            
            <!-- Bloque 2 -->
            <div class="p-4 border border-gray-200 rounded-lg shadow relative"> 
                <h3 class="text-xl font-bold text-gray-800">Iniciacion a la programacion en Python</h3>
                <span class="p-1 px-2 w-24 bg-emerald-200 text-sm font-normal rounded text-emerald-700">Pendiente emitir certificado</span>
                <p class="text-gray-600 mt-1">
                    <span class="font-medium">Certificado por IBM SkillBuild</span><br>
                    Oct - Nov 2024
                </p>
                <!-- Icono con enlace al PDF -->
                <a href="../../public/Python.pdf" target="_blank" class="absolute top-4 right-4 text-gray-600 hover:text-gray-800" aria-label="Ver certificado">
                    <img src="../../../assets/svg/Logo_pdf.svg" alt="" width="40">
                </a>
            </div>
            
            
            <!-- Bloque 3 -->
                <div class="p-4 border border-gray-200 rounded-lg shadow relative">
                    <h3 class="text-xl font-bold text-gray-800">Curso de SQL</h3>
                    <p class="text-gray-600 mt-1">
                        <span class="font-medium">Certificado por IBM SkillBuild</span><br>
                        May - Jun 2024
                    </p>
                    <!-- Icono con enlace al PDF -->
                    <a href="../../public/certificado_cohorte3_david_cuevas_gil.pdf" target="_blank" class="absolute top-4 right-4 text-gray-600 hover:text-gray-800" aria-label="Ver certificado">
                        <img src="../../../assets/svg/Logo_pdf.svg" alt="" width="40">
                    </a>
                </div>
            
            
            <!-- Bloque 4 -->
            
            <div class="p-4 border border-gray-200 rounded-lg shadow relative">
                <h3 class="text-xl font-bold text-gray-800">Curso de Microsoft Power BI</h3>
                <p class="text-gray-600 mt-1">
                    <span class="font-medium">Certificado por IBM SkillBuild</span><br>
                    Feb - Mar 2024
                </p>
                <!-- Icono con enlace al PDF -->
                <a href="../../public/DCG - certificado_cohorte3_david cuevas gil.pdf" target="_blank" class="absolute top-4 right-4 text-gray-600 hover:text-gray-800" aria-label="Ver certificado">
                    <img src="../../../assets/svg/Logo_pdf.svg" alt="" width="40">
                </a>
            </div>
        </div>
  </section>
</div>
