<div class="w-5/6 ml-[16.66%] min-h-full bg-gray-100">  
    <!-- Header -->
    <header class="flex items-center justify-center w-full h-[274px] bg-white shadow-md bg-[url('../../public/cabecera_2.png')] bg-cover bg-center">
        <div class="flex flex-col justify-center items-center text-center">
            <h1 class="text-4xl md:text-7xl text-white drop-shadow-[0_7px_0.15px_rgba(0,0,0,1)] uppercase">
                David <span class="text-white shadow-black font-bold">Cuevas Gil</span>
            </h1>
            <p class="text-2xl md:text-5xl mt-6 shadow-black font-bold text-white drop-shadow-[0_7px_0.15px_rgba(0,0,0,1)]">
                Desarrollador Web
            </p>
        </div>
    </header>
</div>