<!-- Menú de 1/6 de ancho -->
<aside class="fixed top-0 left-0 h-full w-1/6 bg-gray-800 text-white flex flex-col items-center justify-start pt-3 border-r-4 border-white">
    <!-- Contenido del menú aquí -->
    <img
    src="../../../assets/images/Carnet_Dcg.jpg"
    alt="David Cuevas Gil"
    class="w-8 h-16 md:w-40 md:h-40 rounded-full border-2 border-white object-cover mt-3 mb-3"
    />
    <h3 class="text-2xl font-semibold mb-3">David Cuevas</h3>
    <hr class="border border-slate-600 w-full mb-6">
    <div  class="bg-slate-100 w-3/4 rounded-full mb-3" style="padding: 2px;">
        <a href="#sobre-mi">
            <div class="relative bg-slate-600 rounded-full flex">
                <div class="hover:bg-slate-500 w-full rounded-full">
                    <div class="bg-slate-600 rounded-full flex items-center justify-between">
                        <p class="text-gray-400 pl-3 py-2 pr-3 flex justify-center font-semibold hover:underline hover:bg-[#475569] hover:rounded-full hover:text-white">Sobre mí</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="bg-slate-100 w-3/4 rounded-full mb-3" style="padding: 2px;">
        <a href="#habilidades">
            <div  class="relative bg-slate-600 rounded-full flex">
                <div class="hover:bg-slate-500 w-full rounded-full">
                    <div class="bg-slate-600 rounded-full flex items-center justify-between">
                        <p class="text-gray-400 pl-3 py-2 pr-3 flex justify-center font-semibold hover:underline hover:bg-[#475569] hover:rounded-full hover:text-white">Habilidades</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div  class="bg-slate-100 w-3/4 rounded-full mb-3" style="padding: 2px;">
        <a href="#experiencia">
            <div  class="relative bg-slate-600 rounded-full flex">
                <div class="hover:bg-slate-500 w-full rounded-full">
                    <div class="bg-slate-600 rounded-full flex items-center justify-between">
                        <p class="text-gray-400 pl-3 py-2 pr-3 flex justify-center font-semibold hover:underline hover:bg-[#475569] hover:rounded-full hover:text-white">Experiencia</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div  class="bg-slate-100 w-3/4 rounded-full mb-3" style="padding: 2px;">
        <a href="#proyectos">
            <div  class="relative bg-slate-600 rounded-full flex">
                <div class="hover:bg-slate-500 w-full rounded-full">
                    <div class="bg-slate-600 rounded-full flex items-center justify-between">
                        <p class="text-gray-400 pl-3 py-2 pr-3 flex justify-center font-semibold hover:underline hover:bg-[#475569] hover:rounded-full hover:text-white">Proyectos</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div  class="bg-slate-100 w-3/4 rounded-full mb-3" style="padding: 2px;">
        <a href="#formacion">
            <div  class="relative bg-slate-600 rounded-full flex">
                <div class="hover:bg-slate-500 w-full rounded-full">
                    <div class="bg-slate-600 rounded-full flex items-center justify-between">
                        <p class="text-gray-400 pl-3 py-2 pr-3 flex justify-center font-semibold hover:underline hover:bg-[#475569] hover:rounded-full hover:text-white">Formacion</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div  class="bg-slate-100 w-3/4 rounded-full mb-3" style="padding: 2px;">
        <a href="#referencias">
            <div  class="relative bg-slate-600 rounded-full flex">
                <div class="hover:bg-slate-500 w-full rounded-full">
                    <div class="bg-slate-600 rounded-full flex items-center justify-between">
                        <p class="text-gray-400 pl-3 py-2 pr-3 flex justify-center font-semibold hover:underline hover:bg-[#475569] hover:rounded-full hover:text-white">Referencias</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div  class="bg-slate-100 w-3/4 rounded-full mb-3" style="padding: 2px;">
        <a href="#contacto">
            <div  class="relative bg-slate-600 rounded-full flex">
                <div class="hover:bg-slate-500 w-full rounded-full">
                    <div class="bg-slate-600 rounded-full flex items-center justify-between">
                        <p class="text-gray-400 pl-3 py-2 pr-3 flex justify-center font-semibold hover:underline hover:bg-[#475569] hover:rounded-full hover:text-white">Contacto</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</aside>