<div class="w-5/6 ml-[16.66%] min-h-full bg-gray-100">
    <!-- Sección "Referencias" -->
    <section id="referencias" class="w-full py-5 bg-slate-100">
        <div class="p-5 w-full h-full">
        <h1 class="text-3xl md:text-4xl font-bold mb-10 text-left text-slate-600">Referencias</h1>
        <!-- Contenedor de cuadrícula -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6 border-2 border-aquamarine-600 bg-white rounded-lg p-6">
            
            <!-- Bloque 1 -->
            <div class="p-4 border border-gray-200 rounded-lg shadow">
            <h3 class="text-xl font-bold text-gray-800">Fernando Fernandez Lopez</h3>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Microsoft Corporation</span><br>
                Desarrollador Backend
            </p>
            </div>
            
            <!-- Bloque 2 -->
            <div class="p-4 border border-gray-200 rounded-lg shadow">
            <h3 class="text-xl font-bold text-gray-800">Ana Maria Fernandez Ponce</h3>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Banco Santander</span><br>
                Desarrolladora Front-end Senior
            </p>
            </div>
            
            <!-- Bloque 3 -->
            <div class="p-4 border border-gray-200 rounded-lg shadow">
            <h3 class="text-xl font-bold text-gray-800">Carmen Rodriguez Guzman</h3>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Google LLC</span><br>
                Project Manager
            </p>
            </div>
            
            <!-- Bloque 4 -->
            <div class="p-4 border border-gray-200 rounded-lg shadow">
            <h3 class="text-xl font-bold text-gray-800">Francisco Martinez Campos</h3>
            <p class="text-gray-600 mt-1">
                <span class="font-medium">Telefonica</span><br>
                Administrador de base de datos
            </p>
            </div>
        </div>
    </section>
</div>